.nav {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  height: 80px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.home-link {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: black;
  font-size: 10px;
}

.nav input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  height: 40px;
  border: none;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.nav input:focus {
  border-radius: 20px;
}

.cart-link {
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.logout-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.auth-button {
  height: 40px;
  width: 100px;
  background: none;
  border: 1px solid #dfe4ea;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .home-link {
    font-size: 7px;
    padding-left: 10px;
  }

  .logout-button {
    width: 70px;
  }
}